body {
    /*background-image: url('../images/background.jpg');*/
}

.view-panel {
    padding-top:0px;
}

.login-color {
    color: #1a6ca3;
}

.login-box {
    background: #70b6db;
    padding: 10px; 
    margin-top: 15px;
}

.login-box-background {
    background-color: #fff; 
    padding: 10px 20px;
    color: #1a6ca3;
}

.form-background-label {
    background-color: rgba(168,218,245,1); 
    border-color: rgba(48,143,194,1);
}

.form-border-input {
    border-color: rgba(48,143,194,1);
}

.login-button {
    font-weight: bolder;
}

.waiting-box {
    margin-top: 8%; 
    text-align: center;
}